ol {
    padding-left: 2em;
}

ol li:focus-within {
    background: olive;
    color: black;
    border-width: 2px;
    font: bold;
}

ol li {
    padding-left: 2em;
    margin-top: 1.0em;
}

ol li span {
    display: block;
    margin-left: -0.5em;
    margin-top: 1.0em;
    color: #000;
}